@tailwind base;
@tailwind components;
@tailwind utilities;

/* optional global tweaks */
html, body {
  height: 100%;
}

/* Remove spinner controls from number inputs (Chrome, Safari, Edge, Firefox) */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}
